name: "Terraform Plans"
on:
  push:
    branches: [ "main" ]

jobs:
  terraform: 
    runs-on: ubuntu-latest

    env:  
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}  
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}  

    steps:
      - uses: actions/checkout@v4
      
      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3
      
      - name: Terraform Init
        run: terraform init 
      
      - name: Terraform Plan
        run: terraform plan -out=tfplan 

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan

      - name: Upload State Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with: 
          name: tfstate
          path: terraform.tfstate
  k8s:
    needs: terraform
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Update kube config 
        run:  aws eks update-kubeconfig --name terra-action --region us-east-1
      
      - name: Install kubectl 
        uses: azure/setup-kubectl@v4
      
      - name: Apply manifests 
        run: kubectl apply -f k8.yaml

      - name: Delete Deployment
        run: kubectl delete -f k8.yaml
  
  destroy:
    needs: k8s
    runs-on: ubuntu-latest

    env:  
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}  
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}  

    steps:
      - uses: actions/checkout@v4

      - name: Download state artifact 
        uses: actions/download-artifact@v4
        with:
          name: tfstate

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init 
        run: terraform init

      - name: Terraform Destroy 
        run: terraform destroy -auto-approve